@import './reset.css';
@import './common.css';

.header .group-flex{
    position: relative;
    width: 1130px;
    height: 160px;
    margin: 0 auto;
    padding: 0 30px;
}

.header .logo-area{
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -32px;
}

.header .logo-area a{
    display: block;
}

.header .logo-area a::before{
    display: inline-block;
    width: 222px;
    height: 52px;
    background-position: 0 -158px;
    content: '';
}

.header .search-area{
    position: absolute;
    top: 50%;
    left: 268px;
    margin-top: -28px;
}

.header .search-area .inner{
    position: relative;
    width: 582px;
    height: 52px;
    border: 2px solid #19ce60;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.header .search-area .input-text{
    width: 444px;
    height: 24px;
    padding: 13px 15px;
    margin: 1px;
    background-color: #fff;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 700;
    outline: 0;
}

.header .search-area .btn-submit{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 56px;
    background-color: #19ce60;
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

.header .search-area .btn-submit::after{
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -420px 0;
    background-repeat: no-repeat;
    vertical-align: top;
}

.header .service-area{
    position: absolute;
    top: 12px;
    right: 27px;
    display: flex;
}

.header .service-area .bar{
    width: 1px;
    height: 10px;
    background: #ccc;
    margin: 3px 7px;
}

.header .service-area .link-start{
    font-size: 12px;
}

.header .service-area .link-start::after{
    display: inline-block;
    width: 26px;
    height: 26px;
    background-position: -308px -345px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin: -3px 0 0 3px;
}

.header .service-area .link-junior::after{
    content: '';
    display: inline-block;
    width: 60px;
    height: 10px;
    background-position: -262px -330px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px;
}

.header .service-area .link-bin::after{
    content: '';
    display: inline-block;
    width: 34px;
    height: 11px;
    background-position: -369px -299px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px 3px 2px;
}

.gnb{
    border-bottom: 1px solid #e4e8eb;
    box-shadow: 0px 1px 7px 0 rgb(0 0 0 / 12%);
}
.gnb .inner{
    width: 1130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.gnb .gnb-list{
    display: flex;
    font-size: 15px;
    font-weight: bold;
    line-height: 52px;
    gap: 10px;
}

.gnb .gnb-list .gnb-item.green{
    color: #03c75a;
}

.gnb .ic-mail::before{
    content: '';
    display: inline-block;
    width: 21px;
    height: 21px;
    background-position: -420px -73px;
    vertical-align: -5px;
    margin: 0 9px 0 0;
}

.gnb .ic-live::before{
    content: '';
    width: 54px;
    height: 20px;
    background-position: -199px -298px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin-top: 15px;
    display: block;
    padding-right: 3px;
}

.gnb .ic-tv::before{
    content:'';
    display: inline-block;
    width: 12px;
    height: 14px;
    background-position: -443px -49px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 19px 2px 0 0;
}

.gnb .weather{
    display: flex;
    padding: 17px 0 16px;
    line-height: 18px;
}

.gnb .weather .air-area .dust{
    color: #505050;
}

.gnb .weather .air-area .state::before{
    content:'';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-position: -420px -266px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin-right: 5px;
}

.gnb .weather .air-area .state{
    margin-left: 5px;
    font-size: 13px;
    color: #202020;
    font-weight: bold;
}

.gnb .weather .air-area .area{
    padding-left: 9px;
    color: grey;
}

.gnb .weather .air-area .state.first::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #e4e8eb;
    margin: 0 10px;
    vertical-align: -1px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 1130px;
    margin: 0 auto;
    padding: 20px 0;
}

.footer{
    background-color: #fafbfc;
    border-top: 1px solid #e4e8eb;
    padding: 0 30px 92px;
}

.footer .inner{
    width: 1130px;
    margin: 30px auto;
}


.footer .main-public{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer .link-public{
    display: flex;
    gap: 10px;
}

.footer .link-public img{
    width: 160px;
    height: 86px;
    display: block;
}

.footer .link-public .sub-title{
    display: block;
    overflow: hidden;
    font-weight: 700;
    letter-spacing: -0.25px;
    color: #58c464;
    white-space: nowrap;
}
   
.footer .link-public .title{
    display: block;
    margin-top: 6px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.26px;
    color: #242424;
    white-space: nowrap;
}

.footer .link-public .text{
    line-height: 18px;
    letter-spacing: -0.25px;
    color: #424242;
    white-space: nowrap;
}

.footer .notice-area{
    margin-top: 20px;
    border-top: 1px solid #e4e8eb;
    padding: 16px 0 15px;
    border-bottom: 1px solid #e4e8eb;
    display: flex;
    justify-content: space-between;
}

.footer .notice-area .link-notice{
    font-weight: bold;
}

.footer .notice-area .link-all{
    font-weight: bold;
}

.footer .notice-area .link-all:after{
    display: inline-block;
    width: 8px;
    height: 12px;
    background-position: -444px -268px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-left: 10px;
    vertical-align: -2px;
}

.footer .aside-area{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e4e8eb;
}

.footer .partner-wrap{
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer .partner_box{
    display: flex;
}

.footer .partner_box .title{
   width: 87px;
}

.footer .partner_box .link-partner{
    display: inline-block;
    color: #777;
}

.footer .partner_box .bar{
    width: 1px;
    height: 10px;
    vertical-align: top;
    margin-top: 5px;
    background: #e4e8eb;
    vertical-align: top;
    margin: 3px 10px;
}

.footer .service-wrap{
    width: 350px;
    padding: 28px 0;
    display: flex;
    gap: 20px;
}

.footer .service-wrap .service-area{
    display: flex;
}

.footer .service-info{
    margin-right: 10px;
}
.footer .service-info .title{
    display: inline-block;
    font-weight: bold;
}

.footer .service-info .link-download{
    display: block;
}

.footer .info-img img{
    width: 48px;
    height: 48px;
}

.footer .corp-area{
    padding-top: 25px;
}

.footer .corp-item .link-corp{
  color: #777;
  padding: 0 10px;
}





